/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
# Ignore cPanel files and folders
.cphorde
.local
.trash
.myimunify_id
.viminfo
perl
.DS_Store
.env
.mysql_history
.well-known
error_log
perl5
.bash_history
.pearrc
.zshrc
etc
php
tmp
.bash_logout
.gemrc
.php_history
index.php
vendor
.bash_profile
.git
.pki
access-logs
.bashrc
.sitepad
logs
www
.cache
.gitignore
.softaculous
artisan
mail
public_ftp
.composer
.htaccess
.spamassassin
bin
node_modules
.config
.htpasswds
.spamassassinboxenable
node_modules.zip
.cpan
.kshrc
.spamassassinenable
obscode
.cpanel
.lastlogin
.ssh
ssl

